<ion-header>
    <ion-toolbar>
        <ion-title>
            Ionic Blank
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content padding>
    <ion-item>
        <ion-input placeholder="Parametro" [(ngModel)]="valor"></ion-input>
    </ion-item>
    <ion-button expand="full" [routerLink]="['/pagina2',valor]">pagina 2 routerLink</ion-button>
    <ion-button expand="full" (click)="segunda()">pagina 2 funcion</ion-button>
    <ion-button expand="full" (click)="segundaNavC()">pagina 2 NavController</ion-button>
</ion-content>